body {
   margin: 0;
   padding: 0;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: consolas;
}

.container {
   position: relative;
   width: 1200px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.container .box {
   position: relative;
   width: 280px;
   height: 400px;
   margin: 20px 0;
   box-sizing: border-box;
   overflow: hidden;
}

.container .box .imgBox {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #000;
   clip-path: circle(400px at center 100px);
   transition: 0.5s;
   /* transition-delay: 0.5s; */
}

.container .box:hover .imgBox {
   clip-path: circle(80px at center 100px);
}

.container .box:hover .imgBox img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.container .box .content {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 55%;
   padding: 20px;
   box-sizing: border-box;
   text-align: center;
}

.container .box .content h2 {
   margin: 0;
   padding: 0;
}

.container .box .content a {
   text-decoration: none;
   background: #000;
   color: #FFF;
   padding: 5px;
   display: inline-block;
}

.container .box .content h2,
.container .box .content p, 
.container .box .content a {
   opacity: 0;
   transition: 0.5s;
   transform: translateY(20px);
}

.container .box:hover .content h2 {
   opacity: 1;
   transition-delay: 0.5s;
   transform: translateY(0px);
}
.container .box:hover .content p {
   opacity: 1;
   transition-delay: 0.75s;
   transform: translateY(0px);
}
.container .box:hover .content a {
   opacity: 1;
   transition-delay: 0.9s;
   transform: translateY(0px);
}

